<h1>Debug#index</h1>
<p>Find me in app/views/debug/index.html.erb</p>
<% @posts.each do |post| %>
    <%= post.body %> - <%= post.created_at %> <br>
    <%= link_to  post.author.email, users_show_path(:user_id => post.author.id) %><br>
    <br>
<% end %>